body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: large;
}

span.warn {
color: red;
font-size: small;
}

button {
color: white;
font-size: inherit;
background-color: rgb(109, 112, 243);
height: 2em;
border-radius: 5px 5px 5px 5px;
width: 300px;
justify-content: center;
}

button.logout {
background-color: rgb(248, 84, 43);
}

button.dropdown {
    width:fit-content;
    }

button.looker {
color: white;
font-size: inherit;
font-weight: bold;
background-color: rebeccapurple;
height: 3em;
border-radius: 5px 5px 5px 5px;
width: 300px;
justify-content: center;
}

a {
color: #00B7FF;
}

.select-selected {
    background-color: rgb(136, 52, 136);
  }
#dropdown-state { 
border-radius: 10px;
width: 200px;
font-size: 20;
color: black;
height: 35;
font-family: Arial, Helvetica, sans-serif;
align-items: center;
align-content: end;
background-color:lightgrey;
}

#dropdown-city { 
border-radius: 10px;
width: 200px;
font-size: 20;
color: black;
height: 35;
font-family: Arial, Helvetica, sans-serif;
align-items: center;
align-content: end;
background-color: lightgrey;
}
